/DispersionCurves/figs/*
/tests/*
*.asv
*.eps
*.fig
*.pdf
*.png
*.txt
*.pdf_tex
*.svg
# gmsh-files
*.geo
*.msh
plotDispersionAlex.m
testing.geo
*ExportMesh.m
*MESH.m
DispersionCurves/data/
Cell2Vec.m
Cell2Vec.c
uTest_Cell2Vec.m
